node-red/flows.json
[{"id":"a9e51b2a49876e9c","type":"tab","label":"bedroom heater","disabled":false,"info":"","env":[]},{"id":"20717d24fa2773c3","type":"tab","label":"christmas tree","disabled":false,"info":"","env":[]},{"id":"1e3e9b55525c8a80","type":"tab","label":"garage sensor","disabled":false,"info":"","env":[]},{"id":"7ecce6f815a12ebf","type":"tab","label":"open blinds reminder","disabled":false,"info":"","env":[]},{"id":"59d794a7.5694ec","type":"server","name":"Home Assistant","addon":true},{"id":"768f694bfc5e3937","type":"ha-time","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.heater_on","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":290,"y":640,"wires":[["742cfa9976ff9944"]]},{"id":"51322b1e07e8cdde","type":"api-call-service","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":["bedroom"],"deviceId":["7e6a7bc275c34ae5a8a5c3d1ee327571"],"entityId":["switch.bedroom_heater"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":640,"wires":[[]]},{"id":"45fb124065622b05","type":"ha-time","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.heater_off","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":290,"y":700,"wires":[["9942e355064faf6e"]]},{"id":"46de0a9f0b1cfc49","type":"api-call-service","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":["bedroom"],"deviceId":["7e6a7bc275c34ae5a8a5c3d1ee327571"],"entityId":["switch.bedroom_heater"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":700,"wires":[[]]},{"id":"60e3b7f6b61213d3","type":"function","z":"a9e51b2a49876e9c","name":"function 1","func":"var today = new Date();\nvar dd = String(today.getDate()).padStart(2, '0');\nvar mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar yyyy = today.getFullYear();\n\nvar on_time = global.get(\"homeassistant.homeAssistant.states['input_datetime.heater_on'].state\");\nvar off_time = global.get(\"homeassistant.homeAssistant.states['input_datetime.heater_off'].state\");\n\nvar is_next_day = off_time < on_time;\nnode.warn({ \"is_next_day\": is_next_day});\n\nvar on_datetime_str = yyyy + \"-\" + mm + \"-\" + dd + \"T\" + on_time\nvar off_datetime_str = yyyy + \"-\" + mm + \"-\" + dd + \"T\" + off_time\nvar on_ts = Date.parse(on_datetime_str);\nvar off_ts = Date.parse(off_datetime_str);\n\nif (is_next_day) {\n    off_ts = off_ts + 86400000;\n}\n\nvar wait_seconds = (off_ts - on_ts) / 1000;\n\nnode.warn({\n    \"on_ts\": on_ts,\n    \"off_ts\": off_ts,\n    \"wait_seconds\": wait_seconds\n});\n\nvar msg = {\n    \"on_time\": on_time,\n    \"off_time\": off_time\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":580,"wires":[["53ddbe42d1f25081"]]},{"id":"53ddbe42d1f25081","type":"debug","z":"a9e51b2a49876e9c","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":600,"y":580,"wires":[]},{"id":"742cfa9976ff9944","type":"api-current-state","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.heater_automation_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":640,"wires":[["51322b1e07e8cdde"],[]]},{"id":"9942e355064faf6e","type":"api-current-state","z":"a9e51b2a49876e9c","name":"","server":"59d794a7.5694ec","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.heater_automation_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":670,"y":700,"wires":[["46de0a9f0b1cfc49"],[]]},{"id":"1c7c6fd599b712ce","type":"ha-time","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.christmas_tree_on","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":330,"y":540,"wires":[["845ec0bba39a63d2"]]},{"id":"c5a40493a7d8f704","type":"api-call-service","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":["living_room"],"deviceId":["8f2080282654ddf8b3990c5cf2ca3520"],"entityId":["switch.christmas_tree"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":540,"wires":[[]]},{"id":"495982e5e109033d","type":"ha-time","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.christmas_tree_off","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":330,"y":600,"wires":[["29f23602c1e6fdf6"]]},{"id":"48c330e8bf2b4ed8","type":"api-call-service","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":["living_room"],"deviceId":["8f2080282654ddf8b3990c5cf2ca3520"],"entityId":["switch.christmas_tree"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":600,"wires":[[]]},{"id":"845ec0bba39a63d2","type":"api-current-state","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.christmas_tree_automation_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":540,"wires":[["c5a40493a7d8f704"],[]]},{"id":"29f23602c1e6fdf6","type":"api-current-state","z":"20717d24fa2773c3","name":"","server":"59d794a7.5694ec","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.christmas_tree_automation_enable","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":750,"y":600,"wires":[["48c330e8bf2b4ed8"],[]]},{"id":"f67bc8f6e6c02c93","type":"server-state-changed","z":"1e3e9b55525c8a80","name":"","server":"59d794a7.5694ec","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.contact_sensor_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":380,"y":420,"wires":[["1772c969e75c2a65"],["eeb8905db54e85b8"]]},{"id":"1772c969e75c2a65","type":"api-call-service","z":"1e3e9b55525c8a80","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Garage door opened!\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":380,"wires":[[]]},{"id":"eeb8905db54e85b8","type":"api-call-service","z":"1e3e9b55525c8a80","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Garage door closed.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":460,"wires":[[]]},{"id":"219ea4678e17b19b","type":"ha-time","z":"7ecce6f815a12ebf","name":"","server":"59d794a7.5694ec","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityId":"input_datetime.open_blinds","property":"","offset":"0","offsetType":"num","offsetUnits":"minutes","randomOffset":false,"repeatDaily":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"sunday":true,"monday":true,"tuesday":true,"wednesday":true,"thursday":true,"friday":true,"saturday":true,"debugenabled":false,"x":210,"y":400,"wires":[["9bd1c94ef547286f"]]},{"id":"9bd1c94ef547286f","type":"api-current-state","z":"7ecce6f815a12ebf","name":"","server":"59d794a7.5694ec","version":3,"outputs":2,"halt_if":"200","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.motion_sensor_1_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":400,"wires":[["b7aec1c0e282f17a"],[]]},{"id":"b7aec1c0e282f17a","type":"api-call-service","z":"7ecce6f815a12ebf","name":"","server":"59d794a7.5694ec","version":5,"debugenabled":false,"domain":"notify","service":"notify","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Reminder\",\"message\":\"Open bedroom blinds so the plants don't die.\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":400,"wires":[[]]},{"id":"c79989777c9d9a07","type":"inject","z":"7ecce6f815a12ebf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":340,"wires":[["b7aec1c0e282f17a"]]}]